<h1>{{ 'general.404.title' | t }} </h1>
<p>{{ 'general.404.subtext' | t }}</p>


{% schema  %}
	{
		"name": "404",
		"settings": [],
		"presets": [
			{
				"name": "404",
				"category": "404"
			}
		]
	}
{% endschema %}
